<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h2>Fale sobre seu relato:</h2>
  <textarea placeholder="Digite seu relato." style="width:100%; height:150px" name="comment" id="comment-textarea" 
			ng-model="">
	</textarea>
  <a href="#" (click)="takePicture()" style="float:right;">Upload de arquivos </a>
 <br>
 <br>
 <br>
<button full ion-button round>Enviar</button>

Latest Picture:
      <img [src]="base64Image" *ngIf="base64Image" />


</ion-content>
